<div *ngIf="!client">Loading data...</div>
<div *ngIf="client">
    <h2>Client "{{client.name}}" details</h2>
    <div>
        <input [(ngModel)]="client.cnp" placeholder="CNP">
        <label> CNP: </label> {{client.cnp}}
    </div>
    <div>
        <input [(ngModel)]="client.name" placeholder="name">
        <label> Name: </label> {{client.name}}
    </div>
    <div>
        <input [(ngModel)]="client.budget" placeholder="budget">
        <label> Budget: </label> {{client.budget}}
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Update</button>
</div>
