<h1 style="color: darkred">{{title}}</h1>
<hr>
<nav>
  <a routerLink="/clients" routerLinkActive="active">Clients</a>
  <a routerLink="/guns" routerLinkActive="active">Guns</a>
  <a routerLink="/accessories" routerLinkActive="active">Gun accessories</a>
  <a routerLink="/ammunition" routerLinkActive="active">Ammunition</a>
  <a id="theWin" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" routerLinkActive="active">
    WIN a free gun today! (guaranteed)</a>
</nav>
<hr>
<router-outlet></router-outlet>



