button {
  font-family: Arial, serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}

a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 5px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
a:visited, a:link {
  color: #607D8B;
}
a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
a.active {
  color: #039be5;
}
